.help {
    text-align: center;
    /* display: inline; */
    width: 70%;

}

.timer {
    text-align: center;
    width: 20%;
    align-items: center;
}


.section {
    margin-right: 300px;
}

img {
    margin-left: 60px;
    width: 100%;
    display: block;

}

#container {
    display: flex;
    flex-direction: row;
}

#board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 850px;
    height: 100%;
    margin: 50px auto 0 auto;
}

.block {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 2px solid brown;
    background-size: contain;
    background-repeat: no-repeat;

}

.whack-text {
    color: back;
    text-transform: uppercase;
    font-size: 26px;
    align-items: baseline;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}